* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #14ffe9 !important;
}

/*======== Navbar==========*/

.navbar {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(0.6rem) !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.navbar-brand {
  font-size: 24px;
  color: rgb(8, 199, 8) !important;
}
.nav-item {
  padding: 10px 40px !important;
  font-size: 20px;
  color: rgb(8, 199, 8) !important;
}
.nav-item:hover {
  color: green !important;
}
.active {
  color: green !important;
}

/*=========== Clock ===========*/

.clock {
  margin: 150px auto 0 auto;
  width: 15rem; /*350px*/
  height: 15rem;
  display: flex;
  background: url(./clock.png);
  background-size: cover;
  border: 4px solid rgb(9, 199, 66);
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 7rem;
  margin-left: 6rem;
  background: #70e700;
  border-radius: 50%;
  z-index: 10000;
}
.clock .hour,
.min,
.sec {
  margin-top: 3.6rem;
  margin-left: 2.5rem;
  position: absolute;
}
.clock .hour,
.hr {
  width: 7.5rem;
  height: 7.5rem;
}
.clock .min,
.mn {
  width: 7.5rem;
  height: 7.5rem;
}
.clock .sec,
.sc {
  width: 7.5rem;
  height: 7.5rem;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 80px;
  background: rgb(0, 128, 0);
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: rgb(8, 199, 8);
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
/*=========== Heading ===========*/

.page-header {
  margin: 80px 0px 80px 0;
  padding: 10px;
  color: green;
  text-align: center;
}
.page-header::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 60%; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 4px solid green; /* This creates the border. Replace black with whatever color you want. */
}

div p a.btn {
  color: #fff;
  background: rgb(8, 199, 8) !important;
  border: 1px solid rgb(8, 199, 8);
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgba(0, 128, 0, 0.4);
  transition: 0.3s ease-in-out;
}
div p a.btn:hover {
  color: #fff !important;
  background: rgb(0, 128, 0) !important;
  border: 1px solid rgb(0, 128, 0);
  border-radius: 20px;
  box-shadow: none;
}
div p a.btn:active {
  border: 1px solid rgb(8, 199, 8);
}
i.answer {
  color: green;
  background-color: aquamarine;
}
.or {
  font-size: 22px;
  color: green;
  text-align: center;
  font-style: italic;
}
.card-body {
  letter-spacing: 0.5px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(0.8rem) !important;
}

/* ======================= About Me ========================= */
.about-row {
  margin: 150px 10px 100px 10px;
}
.page-header-about {
  margin: 20px 0px 80px 0;
  padding: 10px;
  color: green;
  text-align: center;
}
.page-header-about::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 32%;
  padding-top: 10px;
  border-bottom: 4px solid green;
}

.profile-img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.description {
  margin: auto 0;
  padding-top: 40px;
}
.fa {
  padding: 5px 10px;
  margin: 5px;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 128, 0, 0.4);
  background-color: rgba(8, 199, 8, 0.4);
  box-shadow: 5px 2px 5px rgba(0, 128, 0, 0.4);
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.fa:hover {
  background-color: rgba(0, 128, 0, 0.6);
  box-shadow: none;
}
.fa-github {
  color: #333;
}
.fa-twitter {
  color: #00acee;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-instagram {
  color: #bc2a8d;
}
.fa-youtube {
  color: #ff0000;
}
.greet {
  color: #f69669;
  font-size: 1.6rem;
}
.name {
  color: rgb(8, 199, 8);
  font-size: 2rem;
  text-shadow: 3px 2px 5px rgba(8, 199, 8, 0.6);
  transition: 0.3s ease-in-out;
}
.name:hover {
  text-shadow: none;
}
.intro {
  color: rgb(68, 63, 63);
  font-size: 1.3rem;
}
/*===================== FOOTER =========================*/

.footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #fff;
  text-align: center;
  background: #000;
}

.footer-link {
  text-decoration: none;
  color: aqua;
}
